.wrapperForm {
	width: 100%;
	height: 5.6rem;

	margin: 1rem auto;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-end;

	font-size: 1.2rem;
}
.wrapperInput {
	width: 13rem;
	margin: 0 .5rem 0 0;

	text-align: left;
}

input, button {
	width: 15rem;
	height: 3.2rem;

	padding: 0 .5rem;

	border: #000 .1rem solid;
	border-radius: .5rem;
	cursor: pointer;
	
	
	transition: background .1s linear;
}
label {
	margin-left: 1.5rem;
	line-height: 2.4rem;
}
button {
	width: 7rem;

	margin-top: auto;
}

button:hover,
input:hover {
	background: rgb(255, 255, 240);
}

button:focus,
input:focus {
	outline: none;
	background: rgb(255, 255, 223);
}